/*.detail-cars-container section table {
  width: 100%;
  background: white;
  border-radius: 3px;
  padding: 10px;
}

.detail-cars-container section table thead tr th {
  color: #212529;
  font-size: 20px;
  padding: 5px;
  border-bottom: 2px solid grey;
}

.detail-cars-container section table tbody tr:nth-child(2n-2) {
  background-color: lightgrey;
  filter: brightness(105%);
}

.detail-cars-container section table tbody tr td {
  text-align: center;
  font-family: cursive;
  font-size: 18px;
  padding: 15px;
}

.detail-cars-container section table tbody tr td a {
  padding: 10px 15px 10px;
  font-size: 18px;
  background: red;
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  transition: background .2s;
}

.detail-cars-container section table tbody tr td a:hover {
  background: darkred;
  filter: brightness(150%);
}*/





.detail-cars-container {
  color: #323232;
  font-weight: 700;
  padding: 50px;
}

.detail-cars-container header {
  width: 100%;
}

.detail-cars-container header h1 {
  font-size: 30px;
}

.detail-cars-container section {
  background: #FFF;
  padding: 40px 50px 30px;
  margin: 5px 0 0;
  border-radius: 10px;
  box-shadow: 5px 10px lightblue;
}

.detail-cars-container section a .arrowLeft {
  color: #0C0C0C;
  margin-bottom: 10px;
  transition: background .2s;
}

.detail-cars-container section a .arrowLeft:hover {
  color: gray;
}

.detail-cars-container section h2 {
  margin: 10px 0 20px;
  border-bottom: 3px solid black;
}

.detail-cars-container section main ul {
  display: grid;
  grid-template-columns: 25% 25% 30% 20%;
  list-style: none;

  border-radius: 5px 5px 5px;
  margin: 10px 0 0;
  background: lightgrey;
  filter: brightness(105%);
}

.detail-cars-container section main ul li {
  padding: 20px;
  font-size: 20px;
}

.detail-cars-container section main ul .entry {
  padding: 20px;
  font-size: 20px;
  text-align: right;
}

.detail-cars-container section main ul .entry button {
  padding: 10px 15px 10px;
  font-size: 18px;
  background: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  transition: background .2s;
}

.detail-cars-container section main ul .entry button:hover {
  background: darkred;
  filter: brightness(150%);
}

.detail-cars-container section main ul li span {
  color: #0C0C0C;
}

.detail-cars-container footer {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.detail-cars-container footer nav {
}

.detail-cars-container footer nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  filter: brightness(105%);
  border-radius: 5px;
}

.detail-cars-container footer nav ul li {
  display: flex;
  align-items: center;
  outline: 1px solid #c0c0c0;
}

.detail-cars-container footer nav ul li a {
  font-size: 18px;
  padding: 8px 10px 8px;
  color: #007bff;
  font-family: 'Roboto';
  font-weight: 400;
  transition: background .2s;
}

.detail-cars-container footer nav ul li a:hover {
  background: #dee2e6;
  outline: 1px solid #dee2e6;
}

.detail-cars-container footer nav ul li a:focus {
  color: #fff;
  background: #007bff;
  outline: 1px solid #007bff;
}

.detail-cars-container footer nav ul li .previous-next:focus {
  background: #fff;
  color: #007bff;
}
